* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    background-color: #1C1C1C;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.page-navs {
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
}

.page-navs a {
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.home,
.Projects,
.contacts {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #222222;
    font-weight: bold;
    border-radius: 173px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 20px 20px;
}

.Projects,
.contacts {
    margin-top: 2%;
}

#intro{
    margin-left: 10%;
    margin-top: -16px;
}

.greet,
.Fname{
    font-size: 50px;
}

.Fname {
    margin-top: -40px;
}

.description {
    font-size: 30px;
    margin-top: -30px;
}

.nav {
    margin-top: -10px;
    gap: 8px;
    display: block;
    align-items: center;
}

.social-contacts img,
.nav img,
.repositories img {
    width: 50px;
    height: 50px;
    background-color:#353535;
    padding: 5px;
    margin-top: 8px;
}

a img {
    border-radius: 50px;
}

a {
    text-decoration: none;
}

.pic {
    display: flex;
    margin-top: -210px;
    margin-bottom: 5%;
    margin-left: 70%;
}

.pic img {
    width: 200px;
    border-radius: 150px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

#introme,
#quote,
#summary,
#TStack,
#myprojects,
#contact-header,
#repo-header {
    font-size: 300%;
}

#introme,
#TStack {
    margin-bottom: .2%;
}

#quote {
    color: #757471;
    font-size: 150%
}

#summary {
    margin-bottom: .2%;
    font-size: 125%;
}

#introme,
#quote,
#summary,
#myprojects,
.Tech-Stack,
.Portfolio-Website,
#contact-header,
.social-contacts {
    margin-left: 10%;
    margin-top: -16px;
    margin-right: 10%;
}

.Tech-Logo img {
    width: 15%;
}

.Tech-Logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.css img {
    width: 20%;
}

.html,
.css,
.js {
    background-color: #353535;
    display: flex;
    align-items: center;
     gap: 3%;
    padding: .4%;
    border-radius: 6%;
}

#html5 {
    margin-left: 0;
}

.portfolio {
    margin-top: 2%;
    width: 35%;
}

#port-title,
#port-description,
#linkedin-name,
#gmail-name {
    display: inline-flex;
    vertical-align: top;
    margin-left: 2%;
    margin-top: 2%;
}

#port-title {
    font-size: 125%;
}

#port-description {
    margin-left: -17.5%;
    margin-top: 6%;
}

#gmail-contact {
    display: block;
}

#gmail-name {
    margin-left: 9%;
    margin-top: -5%;
}

.contacts {
    display: absolute;
    align-content: center;
}

.social-contacts p,
.repositories p {
    font-size: 125%;
}

#repo-header {
    text-align: right;
    margin-right: 20%;
    margin-top: -8%;
    display: absolute;
}

.repositories {
    display: flex;
    margin-left: 55%;
    margin-top: -15.7%;
    margin-bottom: 8%;
}

#repo1{
    display: block;
    margin-left: 50%;
    margin-top: -38%;
    text-wrap: nowrap;
}

.contacts a {
    text-decoration: none;
    color: white;
}